@import "../../../styles/Variables.scss";

.metasuyoContainer {
  background-color: $white-color;
  border-radius: 5px;
  box-shadow: 0 0 10px $dark-color;
  position: relative;
  max-width: 2100px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: #000;
  &-section {
    margin-bottom: 20px;
  }
}
