@import "../../styles/Variables.scss";

.ghostButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 7.5px 15px;
  z-index: 1;
  background-color: $primary-color;
  color: $primary-text-color;

  &:hover {
    background-color: $primary-hover-color;
  }
}
