.metamask,
.paper-wallet {
  width: 100%;
  padding: 6px 9px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;

  div {
    display: flex;
    margin: auto;
    align-content: center;
    align-items: center;
    gap: 10px;
  }

  img {
    width: 25px;
    height: 25px;
  }

  button {
    &:hover {
      color: rgb(216, 215, 215);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.metamask {
  background-color: #f6851b;
  border: 2px solid #c96c14;

  button:hover {
    background-color: #ff7b00;
  }
}

.paper-wallet {
  background-color: #202020;
  border: 2px solid #0e0d0d;

  button:hover {
    background-color: rgb(0, 0, 0);
  }
}

.center {
  display: flex;
  margin: auto;
  align-content: center;
  align-items: center;
  gap: 10px;
}

.center-o {
  text-align: center;
  margin: auto;
  display: flex;
  align-content: center;
  align-items: center;
  width: 9px;
}
