.modal {
  border-radius: calc(var(--spacing-unit) * 2);
  animation: slideUp 0.3s ease-out;
  transform-origin: bottom;
  padding: 0;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal[closing] {
  animation: slideDown 0.3s ease-in;
}

.modal[closing]::backdrop {
  animation: fadeOut 0.3s ease-in;
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-content {
  width: 90%;
  max-width: 400px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .modal-content button {
    width: 100%;
  }
}
