.carouselContainer {
  position: relative;
  width: 100%;
  max-width: 1240px;

  overflow: hidden; // Asegúrate de que el contenido del carrusel no se desborde
  padding-bottom: 20px;
}

.carousel-body {
  padding: 0px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.carousel-btn {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 6px;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff6e;
  border: #fff 2px solid;
}
.carousel-desc {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(215, 214, 185);
  margin-bottom: 5px;
}
.carousel-price {
  font-size: 0.65rem;
  font-weight: bold;
  color: white;
}

.carousel-dot {
  position: absolute;
  bottom: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  transition: opacity 0.3s;
  border: 2px solid white;
}

.carousel-dot.active {
  border: 2px solid white;
  opacity: 1;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
  border: 2px solid white;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
