.title-metasuyo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 300;
    text-shadow: 0.088rem 0.088rem 0.125rem #241B1B;
    border-bottom: #F5A602 2px solid;
    width: auto;
    margin: 20px auto;
}