.textBody {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 2;
  width: 100%;
  font-weight: 300;
  text-shadow: 0.088rem 0.088rem 0.125rem #241b1b;
  margin-top: 1rem;
}
