@import "../../../styles/variables.scss";

.container {
  padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 2);
  margin: auto;
}

.nftGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: var(--spacing-unit);
  align-content: center;
  margin: auto auto;
  min-height: 706px;
}

.filterContainer {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-unit);
  gap: calc(var(--spacing-unit) / 2);
}

@media (max-width: 768px) {
  .nftGrid {
    min-height: 500px;
  }
}

@media (max-width: 480px) {
  .nftGrid {
    grid-template-columns: 100%;
  }
}
