@import "../../../styles/variables.scss";

.drawer {
  position: fixed;
  top: 88px; // Ajusta este valor según la altura de tu navbar
  right: -300px; // Ocultar inicialmente
  width: 300px;
  height: calc(100% - 60px); // Ajustar la altura para que no cubra el navbar
  background-color: rgba($secondary-bg-color, 1);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 999; // Asegúrate de que esté por debajo del navbar
  padding: 0 10px;
  &.open {
    right: 0; // Mostrar el drawer
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: $primary-color;
  }
}
