.degradateSection::before {
    content: "";
    position: absolute;
    top: -108px;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0.9803921569), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.0392156863));
    z-index: 3;
    display: block; /* degradado de rojo a naranja de abajo hacia arriba */
  }
.degradateSection {
    position: relative;
    /* otras propiedades necesarias */
  }