@import "../../../styles/variables.scss";

.card {
  color: $primary-text-color;
  display: inline-block;
  border-radius: calc(var(--spacing-unit) * 2);
  box-shadow: 0 0 10px #f5a4023d;
  border: solid 3px $primary-color;
  overflow: hidden;
  transition: box-shadow 0.3s;
  position: relative;

  &-white {
    background-color: white;
  }

  &-primary {
    background-color: $primary-bg-color;
  }

  &-secondary {
    background-color: $secondary-bg-color;
  }

  &-success {
    background-color: $success-bg-color;
  }

  &-info {
    background-color: $info-bg-color;
  }

  &-warning {
    background-color: $warning-bg-color;
  }

  &-danger {
    background-color: $danger-bg-color;
  }

  &-gray {
    background-color: $gray-color;
  }

  &-light {
    background-color: rgba($light-color, 0.2);
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 1024px) {
  .card {
    flex-direction: column;
  }
}

.cardImage {
  width: 100%;
  height: auto;
  background: #f5a60263;
  display: flex;
  overflow: hidden;
  position: relative;
  border: rgb(245, 166, 2) solid 2px;
  margin: 10px;
  border-radius: var(--spacing-unit);

  img {
    display: flex;
    margin: auto;
    width: 200px;
    border-radius: var(--spacing-unit);
  }
}
