footer {
    background-color: #F5A602;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
.footer{
    background-color: #F5A602;
    color: white;
    padding: 20px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
}
.redesM{
    padding-left: 15vw;
}
.footerDerechosDiv{
    text-align: center;
}
  .footerIcon{
    width: 180px;
    height: auto;
    margin: auto;
    display: flex;
    
  }

  .footertitle{
    font-weight: bold;
    font-size: 1.1rem;
  }

  .footerSpan{
    font-size: .7rem;
    display: block;
    text-align: justify;
  }

  footer div {
    flex: auto;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }

  .footerDerechos{
    text-align: center;
    font-size: 10px;
  }

  footer a svg {
    width: 20px;
    height: 20px;
    font-size: 18px;
  }
  
  @media (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
    }
  }